<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout #headerCard (loaded)="onHeaderLoaded($event)" verticalAlignment="top" [height]="screenHeight*0.06"
            width="100%">
            <ns-header></ns-header>
        </GridLayout>
        <StackLayout #footerCard (loaded)="onFooterLoaded($event)" verticalAlignment="bottom"
            [height]="screenHeight*0.06" width="100%">
            <ns-footer></ns-footer>
        </StackLayout>
        <GridLayout width="100%" height="88%">
            <ScrollView>
                <StackLayout>
                    <GridLayout class="categoryContainer" [height]="screenHeight*0.10" [marginTop]="screenHeight*0.02">
                        <RadListView [items]="categories" verticalAlignment="middle">
                            <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal">
                            </ListViewLinearLayout>
                            <ng-template let-item="item" let-i="index">
                                <StackLayout [width]="screenWidth*0.20">
                                    <Image row="0" [src]="item.image" [borderRadius]="screenHeight*0.03"
                                        [height]="screenWidth*0.12" [width]="screenWidth*0.12"></Image>
                                    <Label row="1" class="categoryName" [text]=" item.name"></Label>
                                </StackLayout>
                            </ng-template>
                        </RadListView>
                    </GridLayout>
                    <Carousel #myCarousel android:indicatorAlignment="top" showIndicator="false"
                        [selectedPage]="selectedPage" [height]="screenHeight*0.13" [marginTop]="screenHeight*0.015"
                        width="95%" indicatorColor="#8BDE22" android:indicatorAnimation="swap"
                        indicatorColorUnselected="#23A6DB">
                        <CarouselItem>
                            <StackLayout width="100%" height="100%" verticalAlignment="middle">
                                <Image stretch="aspectFill" [src]="sliderImage1" verticalAlignment="middle"></Image>
                            </StackLayout>
                        </CarouselItem>
                        <CarouselItem>
                            <StackLayout width="100%" height="100%" verticalAlignment="middle">
                                <Image stretch="aspectFill" [src]="sliderImage2"></Image>
                            </StackLayout>
                        </CarouselItem>
                        <CarouselItem>
                            <StackLayout width="100%" height="100%" verticalAlignment="middle">
                                <Image stretch="aspectFill" [src]="sliderImage3"></Image>
                            </StackLayout>
                        </CarouselItem>
                        <CarouselItem>
                            <StackLayout width="100%" height="100%" verticalAlignment="middle">
                                <Image stretch=" aspectFill" [src]="sliderImage4">
                                </Image>
                            </StackLayout>
                        </CarouselItem>
                    </Carousel>
                    <GridLayout class="findPerfectGift" [height]="screenHeight*0.10" [marginTop]="screenHeight*0.02"
                        androidElevation="5" columns="auto,auto,auto">
                        <GridLayout col="0" class="findPerfectGift1">
                            <Image src="res://gallery" class="findPerfectGift11"></Image>
                        </GridLayout>
                        <StackLayout col="1" class="findPerfectGift2">
                            <Label text="Find The Perfect Gift" class="findPerfectGift21"></Label>
                            <Label text="Discover Gifts by Recipient, Relationships & Occasions." textWrap="true"
                                class="findPerfectGift22"></Label>
                        </StackLayout>
                        <GridLayout col="2" class="findPerfectGift3">
                            <Image src="res://next" class="findPerfectGift31"></Image>
                        </GridLayout>
                    </GridLayout>
                    <GridLayout class="specialAboutUsContainer" columns="*,*,*,*" [height]="screenHeight*0.10"
                        [marginTop]="screenHeight*0.02">
                        <StackLayout class="specialAboutUs" col="0" verticalAlignment="middle">
                            <Image class="specialAboutUsImage" [src]="specialImage1">
                            </Image>
                        </StackLayout>
                        <StackLayout class="specialAboutUs" col="1" verticalAlignment="middle">
                            <Image class="specialAboutUsImage" [src]="specialImage2">
                            </Image>
                        </StackLayout>
                        <StackLayout class="specialAboutUs" col="2" verticalAlignment="middle">
                            <Image class="specialAboutUsImage" [src]="specialImage3">
                            </Image>
                        </StackLayout>
                        <StackLayout class="specialAboutUs" col="3" verticalAlignment="middle">
                            <Image class="specialAboutUsImage" [src]="specialImage4">
                            </Image>
                        </StackLayout>
                    </GridLayout>
                    <!-- <GridLayout class="festivalOfferContainer">
                        <Image class="festivalOfferImage" src="res://slider2">
                        </Image>
                    </GridLayout> -->
                    <GridLayout class="sendCakesContainer" [marginTop]="screenHeight*0.02" rows="auto,auto,auto">
                        <Label row="0" class="sendCakesHeading" [text]="sendCakesHeading"
                            [marginTop]="screenHeight*0.01"></Label>
                        <Button row="0" class="viewAll" text="VIEW ALL" [height]="screenHeight*0.03"
                            [marginTop]="screenHeight*0.01"></Button>
                        <GridLayout row="1" class="sendCakesContainer1" columns="*,*,*">
                            <StackLayout class="sendCakesContainer11" col="0" verticalAlignment="middle"
                                androidElevation="5" [marginTop]="screenHeight*0.01" [marginBottom]="screenHeight*0.01">
                                <Image class="sendCakesImage" [src]="specialImage1">
                                </Image>
                                <Label class="sendCakesName" text="EGGLESS"></Label>
                            </StackLayout>
                            <StackLayout class="sendCakesContainer11" col="1" verticalAlignment="middle"
                                androidElevation="5" [marginTop]="screenHeight*0.01" [marginBottom]="screenHeight*0.01">
                                <Image class="sendCakesImage" [src]="specialImage2">
                                </Image>
                                <Label class="sendCakesName" text="EGGLESS"></Label>
                            </StackLayout>
                            <StackLayout class="sendCakesContainer11" col="2" verticalAlignment="middle"
                                androidElevation="5" [marginTop]="screenHeight*0.01" [marginBottom]="screenHeight*0.01">
                                <Image class="sendCakesImage" [src]="specialImage3">
                                </Image>
                                <Label class="sendCakesName" text="EGGLESS"></Label>
                            </StackLayout>
                        </GridLayout>
                        <GridLayout row="2" class="sendCakesContainer1" columns="*,*,*">
                            <StackLayout class="sendCakesContainer11" col="0" verticalAlignment="middle"
                                androidElevation="5" [marginTop]="screenHeight*0.01" [marginBottom]="screenHeight*0.01">
                                <Image class="sendCakesImage" [src]="specialImage1">
                                </Image>
                                <Label class="sendCakesName" text="EGGLESS"></Label>
                            </StackLayout>
                            <StackLayout class="sendCakesContainer11" col="1" verticalAlignment="middle"
                                androidElevation="5" [marginTop]="screenHeight*0.01" [marginBottom]="screenHeight*0.01">
                                <Image class="sendCakesImage" [src]="specialImage2">
                                </Image>
                                <Label class="sendCakesName" text="EGGLESS"></Label>
                            </StackLayout>
                            <StackLayout class="sendCakesContainer11" col="2" verticalAlignment="middle"
                                androidElevation="5" [marginTop]="screenHeight*0.01" [marginBottom]="screenHeight*0.01">
                                <Image class="sendCakesImage" [src]="specialImage3">
                                </Image>
                                <Label class="sendCakesName" text="EGGLESS"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                    <GridLayout class="occassionHeadingContainer" [marginTop]="screenHeight*0.02">
                        <Label class="occassionHeading" [text]="occassionHeading"></Label>
                        <Button row="0" class="viewAll" text="VIEW ALL" [height]="screenHeight*0.03"></Button>
                    </GridLayout>
                    <GridLayout class="occassionContainer" columns="*,*,*" [height]="screenHeight*0.15"
                        [marginTop]="screenHeight*0.01">
                        <StackLayout class="occassion" col="0" verticalAlignment="middle" androidElevation="5">
                            <Image class="occassionImage" [src]="specialImage1">
                            </Image>
                            <Label class="occassionName" text="Anniversary"></Label>
                        </StackLayout>
                        <StackLayout class="occassion" col="1" verticalAlignment="middle" androidElevation="5">
                            <Image class="occassionImage" [src]="specialImage2">
                            </Image>
                            <Label class="occassionName" text="Birthday"></Label>
                        </StackLayout>
                        <StackLayout class="occassion" col="2" verticalAlignment="middle" androidElevation="5">
                            <Image class="occassionImage" [src]="specialImage3">
                            </Image>
                            <Label class="occassionName" text="Christmas"></Label>
                        </StackLayout>

                    </GridLayout>
                    <GridLayout class="sendCakesContainer" [marginTop]="screenHeight*0.02" rows="auto,auto,auto">
                        <Label row="0" class="sendCakesHeading" [text]="topTrendyHeading"
                            [marginTop]="screenHeight*0.01"></Label>
                        <Button row="0" class="viewAll" text="VIEW ALL" [height]="screenHeight*0.03"
                            [marginTop]="screenHeight*0.01"></Button>
                        <GridLayout row="1" class="sendCakesContainer1" columns="*,*,*,*">
                            <StackLayout class="topTrendyContainer11" col="0" verticalAlignment="middle"
                                androidElevation="5" [marginTop]="screenHeight*0.01" [marginBottom]="screenHeight*0.01">
                                <Image class="sendCakesImage" [src]="specialImage1">
                                </Image>
                                <Label class="sendCakesName" text="EGGLESS"></Label>
                            </StackLayout>
                            <StackLayout class="topTrendyContainer11" col="1" verticalAlignment="middle"
                                androidElevation="5" [marginTop]="screenHeight*0.01" [marginBottom]="screenHeight*0.01">
                                <Image class="sendCakesImage" [src]="specialImage2">
                                </Image>
                                <Label class="sendCakesName" text="EGGLESS"></Label>
                            </StackLayout>
                            <StackLayout class="topTrendyContainer11" col="2" verticalAlignment="middle"
                                androidElevation="5" [marginTop]="screenHeight*0.01" [marginBottom]="screenHeight*0.01">
                                <Image class="sendCakesImage" [src]="specialImage3">
                                </Image>
                                <Label class="sendCakesName" text="EGGLESS"></Label>
                            </StackLayout>
                            <StackLayout class="topTrendyContainer11" col="3" verticalAlignment="middle"
                                androidElevation="5" [marginTop]="screenHeight*0.01" [marginBottom]="screenHeight*0.01">
                                <Image class="sendCakesImage" [src]="specialImage3">
                                </Image>
                                <Label class="sendCakesName" text="EGGLESS"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                    <GridLayout class="festivalOfferContainer" [height]="screenHeight*0.10"
                        [marginTop]="screenHeight*0.02">
                        <Image class="festivalOfferImage" stretch="fill" src="res://slider2" androidElevation="5">
                        </Image>
                    </GridLayout>
                    <GridLayout class="giftContainer" columns="*,*" [height]="screenHeight*0.15"
                        [marginTop]="screenHeight*0.02">
                        <StackLayout class="gift" col="0">
                            <Image class="giftImage" [src]="specialImage1">
                            </Image>
                        </StackLayout>
                        <StackLayout class="gift" col="1">
                            <Image class="giftImage" [src]="specialImage2">
                            </Image>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
            </ScrollView>
        </GridLayout>
        <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
            <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
                [busy]="isLoading" rowSpan="1" colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>