.footer-icon {
    height: 40%;
    margin-top: 15%;
}

.selected-footerButton {
    width: 70%;
    height: 25%;
    background: linear-gradient(345deg, #8BDE22, #23A6DB);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}

.footer-label{
    text-align: center;
    font-size: 12%;
    color:#707070;
}
  