<Page actionBarHidden="true">
    <GridLayout class="page">
        <StackLayout height="100%" width="100%" backgroundColor="#FFFFFF" verticalAlignment="bottom">
            <GridLayout rows="*" columns="*,*,*,*,*">
                <GridLayout col="0" row="0" (tap)="onHomeClick()" rows="auto,auto">
                    <GridLayout row="0" height="100%" width="100%" rows="auto,auto">
                        <Image row="0" class="footer-icon" [src]="homeIcon" rows="auto,auto">
                        </Image>
                        <Label row="1" class="footer-label" text="Home"></Label>
                    </GridLayout>
                    <StackLayout [visibility]="isHomeHighlighted" row="1" class="selected-footerButton">
                    </StackLayout>
                </GridLayout>
                <StackLayout col="1" row="0" (tap)="onCategoryClick()" rows="auto,auto">
                    <GridLayout row="0" height="100%" width="100%" rows="auto,auto">
                        <Image row="0" class="footer-icon" [src]="categoryIcon" rows="auto,auto">
                        </Image>
                        <Label row="1" class="footer-label" text="Category"></Label>
                    </GridLayout>
                    <StackLayout [visibility]="isCategoryHighlighted" row="1" class="selected-footerButton">
                    </StackLayout>
                </StackLayout>
                <StackLayout col="2" row="0" (tap)="onSearchClick()" rows="auto,auto">
                    <GridLayout row="0" height="100%" width="100%" rows="auto,auto">
                        <Image row="0" class="footer-icon" [src]="searchIcon">
                        </Image>
                        <Label row="1" class="footer-label" text="Search"></Label>
                    </GridLayout>
                    <StackLayout [visibility]="isSearchHighlighted" row="1" class="selected-footerButton">
                    </StackLayout>
                </StackLayout>
                <StackLayout col="3" row="0" (tap)="onHelpClick()" rows="auto,auto">
                    <GridLayout row="0" height="100%" width="100%" rows="auto,auto">
                        <Image row="0" class="footer-icon" [src]="helpIcon">
                        </Image>
                        <Label row="1" class="footer-label" text="Help"></Label>
                    </GridLayout>
                    <StackLayout [visibility]="isHelpHighlighted" row="1" class="selected-footerButton">
                    </StackLayout>
                </StackLayout>
                <GridLayout col="4" row="0" (tap)="onAccountClick()" rows="auto,auto">
                    <GridLayout row="0" height="100%" width="100%" rows="auto,auto">
                        <Image row="0" class="footer-icon" [src]="accountIcon">
                        </Image>
                        <Label row="1" class="footer-label" text="Account"></Label>
                    </GridLayout>
                    <StackLayout [visibility]="isAccountHighlighted" row="1" class="selected-footerButton">
                    </StackLayout>
                </GridLayout>
            </GridLayout>
        </StackLayout>
    </GridLayout>
</Page>