.page
{
    background-color:white;
}

.cartInfo
{
    padding-left: 10%;
}
 ListView 
 {
      separator-color: white; 
    }
    .cartInfo2
    {
            vertical-align: bottom;
            color: rebeccapurple;

            
    }
    .cartHeading
    {
        text-align: center;
    }
    .aa
    {
        display: block;
    }
    .cartLower
    {
        text-align: center;
        vertical-align: middle;
        color: black;
        font-size: xx-large;
    }