<Page actionBarHidden="true">
    <GridLayout class="page">
        <StackLayout height="100%" width="100%" backgroundColor="#ffffff" verticalAlignment="Top">
            <GridLayout columns="auto,auto" width="95%" height="60%">
                <StackLayout [visibility]="showBackButton" col="0" width="15%" height="100%" verticalAlignment="bottom">
                    <Image class="back-button" src="res://menu" (tap)="onBackClick()"></Image>
                </StackLayout>
                <StackLayout col="1" width="70%" verticalAlignment="bottom" horizontalAlignment="center"
                    orientation="horizontal">
                    <Image class="app-icon" src="res://header_logo"></Image>
                    <!-- <Label class="header-label" [text]="headerLabel"></Label> -->
                </StackLayout>
                <!-- <StackLayout [visibility]="showAddButton" col="2" width="15%" height="100%" verticalAlignment="middle"
                    horizontalAlignment="center">
                    <Button class="add-button" text="Add" (tap)="onAddClick()"></Button>
                </StackLayout> -->
            </GridLayout>
            <GridLayout class="search-container" columns="auto,*">
                <Image col="0" class="search-icon" src="res://search_inactive"></Image>
            </GridLayout>
        </StackLayout>
    </GridLayout>
</Page>